---
layout: default
layout_grid: true
home: true
angularjs: true
title: JHipster - 現代開發人員的全棧開發平台!
sitemap:
    priority: 1.0
    lastmod: 2016-05-25T00:00:00-00:00
---
<div ng-app="jhipster.home" ng-controller="HomeController" class="home-container">
    <div class="mobile-search-container container">
        <div class="row">
            <form id="mobile-content-search-form">
                <i class="fa fa-search"></i>
                <input type="text" name="search" class="form-control mobile-doc-search-algolia" placeholder="Search..." />
            </form>
        </div>
    </div>
    <!-- Header -->
    <header id="header" class="home-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="logo-big"><img class="img-responsive" id="hipster" src="images/logo/jhipster_family_member_1.svg" alt=""></div>
                    <div class="intro-text">
                        <span class="brand">你好, Java 熱愛者!</span>
                        <hr class="star-light">
                        <p class="project-description">
                            JHipster是一個開發平台，可以快速生成，開發和部署現代Web應用程式+微服務架構。
                        </p>
                        <hr class="star-light">
                        <p class="open-collective-info">
                            JHipster 在 <a href="https://opencollective.com/generator-jhipster" target="_blank" rel="noopener">Open Collective</a> 開啟贊助,
                            如果你 <i class="fa fa-heart"></i> JHipster, 考慮成為我們的
                            <a href="https://opencollective.com/generator-jhipster#sponsor" target="_blank" rel="noopener">贊助商</a> 或者
                            <a href="https://opencollective.com/generator-jhipster#backer" target="_blank" rel="noopener">支援者</a>
                        </p>
                        <div class="row stats">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <a href="https://www.npmjs.com/package/generator-jhipster" target="_blank" rel="noopener">
                                    <div class="card dark summary-inline">
                                        <div class="card-body">
                                            <i class="icon fa fa-download fa-3x"></i>
                                            <div class="content" ng-cloak>
                                                <div class="title">{(npmDownloads)}</div>
                                                <div class="sub-title">過去三十天下載量</div>
                                            </div>
                                            <div class="clear-both"></div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <a href="https://github.com/jhipster/generator-jhipster" target="_blank" rel="noopener">
                                    <div class="card dark summary-inline">
                                        <div class="card-body">
                                            <i class="icon fa fa-github fa-3x"></i>
                                            <div class="content" ng-cloak>
                                                <div class="title">{(gitConfig.stargazers_count)}</div>
                                                <div class="sub-title">點讚</div>
                                            </div>
                                            <div class="clear-both"></div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <a href="https://github.com/jhipster/generator-jhipster/contributors" target="_blank" rel="noopener">
                                    <div class="card dark summary-inline">
                                        <div class="card-body">
                                            <i class="icon fa fa-users fa-3x"></i>
                                            <div class="content" ng-cloak>
                                                <div class="title">{(gitContributors)}</div>
                                                <div class="sub-title">貢獻者</div>
                                            </div>
                                            <div class="clear-both"></div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Learn Section -->
    <section id="learn" class="padding-t-50 padding-b-25 home-section">
        <div class="container">
            <div class="row padding-t-25">
                <div class="col-lg-12 text-center">
                    <h2 class="heading">JHipster快速入門</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ol class="text-body">
                        <li>安裝
                            <a href="https://adoptopenjdk.net/" target="_blank" rel="noopener">Java</a>、
                            <a href="http://git-scm.com/" target="_blank" rel="noopener">Git</a> 和
                            <a href="http://nodejs.org/" target="_blank">Node.js</a></li>
                        <li>安裝JHipster <code>npm install -g generator-jhipster</code></li>
                        <li>建立一個新目錄並進入 <code>mkdir myApp &amp;&amp; cd myApp</code></li>
                        <li>執行Jhipster並根據螢幕指示操作 <code>jhipster</code></li>
                        <li>使用 <a href="https://start.jhipster.tech/jdl-studio/" target="_blank" rel="noopener">JDL Studio</a> 設計您的實體類後, 下載<code>jhipster-jdl.jh</code>檔案</li>
                        <li>生成實體類程式碼 <code>jhipster jdl jhipster-jdl.jh</code></li>
                    </ol>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="heading" id="video">15分鐘學習JHipster</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>
                        <a href="https://twitter.com/mraible">Matt Raible</a>發布了一個如何使用Jhipster7來開發Spring Boot + Angular應用的教學影片。
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
                    <div class="video-container">
                        <iframe width="960" height="540" src="//player.bilibili.com/player.html?aid=845289797&bvid=BV1454y1j75g&cid=333492148&page=1" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"> </iframe>
                    </div>
                </div>
            </div>
            <div class="row padding-t-25">
                <div class="col-lg-12 text-center">
                    <h2 class="heading">課程 &amp; 書籍</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <h3>書籍</h3>
                        <ul>
                            <li><a href="https://www.infoq.com/minibooks/jhipster-mini-book-5" target="_blank" rel="noopener">《The JHipster Mini-Book 5.0》</a> (Matt Raible)，這個版本更新一些新的章節，包括漸進式Web應用、程式碼質量和使用者資料安全。</li>
                            <li><b>JHipster全棧開發 - 第2版</b> (Deepu K Sasidharan與Sendil Kumar)，可以透過<a href="https://www.packtpub.com/web-development/full-stack-development-with-jhipster-second-edition" target="_blank" rel="noopener">Packt</a> 和 <a href="https://smile.amazon.com/Full-Stack-Development-JHipster-microservices/dp/1838824987" target="_blank" rel="noopener">Amazon</a>購買。</li>
                        </ul>
                        <h3>社群教程/培訓</h3>
                        <ul>
                            <li><a href="https://www.pluralsight.com/courses/play-by-play-developing-microservices-mobile-apps-jhipster" target="_blank" rel="noopener">手把手教學——使用Jhispter開發微服務和移動應用</a> by <a href="https://twitter.com/mraible" target="_blank" rel="noopener">Matt Raible</a> 和 <a href="https://twitter.com/mhi_inc">Michael Hoffman</a></li>
                            <li><a href="https://therealdanvega.teachable.com/p/jhipster/?product_id=456739&coupon_code=JHIPSTER" target="_blank" rel="noopener">Angular 4+Java開發(Dan Vega與John Thompson)</a> (點選此連結可以獲取一個驚人的折扣!)</li>
                            <li>JHipster——建立和部署Spring Boot微服務（Chris Anatalio）(<a href="https://linkedin-learning.pxf.io/c/1252615/449670/8005?u=https%3A%2F%2Fwww.linkedin.com%2Flearning%2Fjhipster-build-and-deploy-spring-boot-microservices%3Ftrk%3Dinsiders_43129714_learning" target="_blank" rel="noopener">領英學習</a>、<a href="https://www.lynda.com/course-tutorials/JHipster-Build-Deploy-Microservices/624352-2.html" target="_blank" rel="noopener">Lynda.com</a>)</li>
                            <li>JHipster免費教程 <a href="https://trainings.com/course/Rapid-Development-with-JHipster-Spring-and-Angular-6/view" target="_blank" rel="noopener">使用JHipster-Angular-Springboot快速開發應用程式（Subbaraja Malepati）</a>、(<a href="https://trainings.com" target="_blank" rel="noopener">Trainings.com</a>)</li>
                            <li>邊做邊學 <a href="https://www.spingular.com" target="_blank" rel="noopener">Spingular</a>。加入由JHipster進行的實時協作專案！: Spingular Chat w/Websockets</li>
                            <li><a href="https://betterprojectsfaster.com/learn/tutorial-jhipster-docker-01" target="_blank" rel="noopener">使用JHipster和Docker快速建立高質量Java專案</a> (3部分組成) 作者：<a href="https://betterprojectsfaster.com/about/" target="_blank" rel="noopener">Karsten Silz</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Contributing section -->
    <section id="sponsors" class="padding-t-50 padding-b-25 home-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="heading">Sponsors &amp; backers</h2>
                    <hr class="star-primary">
                </div>
                <div class="col-md-12 text-center">
                    <p>
                        如果您發現Jhispter給您的工作中帶來了不錯的便利, 請考慮請求您的公司<a href="https://opencollective.com/generator-jhipster#sponsor" target="_blank" rel="noopener">成為我們的贊助商</a>來支援這個開源專案。您也可以透過<a href="https://opencollective.com/generator-jhipster#backer" target="_blank" rel="noopener"> 成為一個獨立的支援者</a>。
                    </p>
                    <p>
                        <a href="https://opencollective.com/generator-jhipster/donate" target="_blank">
                            <img src="https://opencollective.com/generator-jhipster/donate/button@2x.png?color=blue" width=300 />
                        </a>
                    </p>
                </div>
                <div class="col-md-12 text-center">
                    <p>
                        <strong>感謝我們的白金贊助商！</strong>
                    </p>
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="thumbnail no-margin-bottom">
                                <div class="logo-container">
                                    <a href="https://developer.okta.com/?utm_campaign=display_website_all_multiple_dev_dev_jhipster-q2_&utm_source=jhipster&utm_medium=cpc" target="_blank" rel="noopener"><img src="{{ site.url }}/images/open-collective/okta.png" width="550px" height="186px"></a>
                                </div>
                                <div class="caption">
                                    <a href="https://developer.okta.com/blog/2021/01/20/reactive-java-microservices?utm_campaign=text_website_all_multiple_dev_dev_jhipster-q2_&utm_source=jhipster&utm_medium=cpc" target="_blank" rel="noopener">使用JHipster和OAuth 2.0建立反應性微服務</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <p>
                        <strong>感謝我們的金牌贊助商!</strong>
                    </p>
                    <div class="row">
                        <div class="col-sm-12 col-md-4">
                            <div class="thumbnail no-margin-bottom">
                                <div class="logo-container">
                                    <a href="http://www.octoconsulting.com/" target="_blank" rel="noopener"><img src="{{ site.url }}/images/open-collective/octoconsulting.png" width="180px" height="175px"></a>
                                </div>
                                <div class="caption">
                                    <a href="http://www.octoconsulting.com/" target="_blank" rel="noopener">Octo諮詢集團</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <div class="thumbnail no-margin-bottom">
                                <div class="logo-container">
                                    <a href="https://dev.entando.org/jhipster" target="_blank" rel="noopener"><img src="{{ site.url }}/images/open-collective/entandoe.png" width="180px" height="175px"></a>
                                </div>
                                <div class="caption">
                                    <a href="https://dev.entando.org/jhipster" target="_blank" rel="noopener">Kubernetes的微型前端平台</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <div class="thumbnail no-margin-bottom">
                                <div class="logo-container">
                                    <a href="https://www.datastax.com/" target="_blank" rel="noopener"><img src="{{ site.url }}/images/open-collective/datastax.png" width="180px" height="175px"></a>
                                </div>
                                <div class="caption">
                                    <a href="https://www.datastax.com/" target="_blank" rel="noopener">DataStax，適用於現代資料應用程式的開放式多雲技術棧。</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 text-center" id="silver-sponsor" style="display: none;">
                    <p>
                        <strong>感謝我們的白銀贊助商！</strong>
                    </p>
                    <div class="row" id="oc-silver-sponsor">
                        <!-- data here is inserted dynamically -->
                    </div>
                </div>
                <div class="col-md-12 text-center" id="bronze-sponsor" style="display: none;">
                    <p>
                        <strong>感謝我們的青銅贊助商！</strong>
                    </p>
                    <div class="row" id="oc-bronze-sponsor">
                        <!-- data here is inserted dynamically -->
                    </div>
                </div>

                <div class="col-md-12 text-center">
                    <p>
                        <strong>謝謝我們所有的支援者！</strong>
                    </p>
                    <div class="row">
                        <div class="col-md-offset-2 col-sm-12 col-md-4">
                            <!-- shown in large screens only -->
                            <object class="visible-sm visible-md visible-lg" data="https://opencollective.com/generator-jhipster/tiers/backer.svg?avatarHeight=40&width=760&button=false" type="image/svg+xml"></object>
                            <!-- shown in mobile screens only -->
                            <object class="visible-xs" data="https://opencollective.com/generator-jhipster/tiers/backer.svg?avatarHeight=40&width=330&button=false" type="image/svg+xml"></object>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Companies supporting JHipster section -->
    <section id="supporters" class="padding-t-50 padding-b-25 home-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="heading">支援JHipster的公司</h2>
                    <hr class="star-primary">
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div>
                            <p>此支援包括：</p>
                            <ul>
                                <li>核心貢獻者（Ippon，Okta，Entando）投入的開發時間</li>
                                <li>開發Micronaut藍圖（Object Computing）</li>
                                <li>參與Quarkus藍圖開發（Entando）</li>
                            </ul>
                            <p>如果您希望將您的公司新增到此處，請隨時與我們聯絡並說明原因。</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <div class="row">
                        <div class="col-sm-12 col-md-4">
                            <div class="thumbnail no-margin-bottom">
                                <div class="logo-container">
                                    <a href="https://en.ippon.tech/" target="_blank" rel="noopener">
                                        <img src="{{ site.url }}/images/support/ippon.jpg">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <div class="thumbnail no-margin-bottom">
                                <div class="logo-container">
                                    <a href="https://developer.okta.com/?utm_campaign=display_website_all_multiple_dev_dev_jhipster-q2_&utm_source=jhipster&utm_medium=cpc" target="_blank" rel="noopener">
                                        <img src="{{ site.url }}/images/support/okta.png">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <div class="thumbnail no-margin-bottom">
                                <div class="logo-container">
                                    <a href="https://objectcomputing.com/" target="_blank" rel="noopener">
                                        <img src="{{ site.url }}/images/support/oci.png">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <div class="thumbnail no-margin-bottom">
                                <div class="logo-container">
                                    <a href="https://entando.com/" target="_blank" rel="noopener">
                                        <img src="{{ site.url }}/images/support/entando.png">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- News section -->
    <section id="news" class="padding-t-25 padding-b-25 home-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="heading">JHipster動態</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                <b>請關注我們推特
                <a href="https://twitter.com/jhipster" target="_blank" rel="noopener"><i class="fa fa-twitter"></i> @jhipster</a>獲取Jhipster最新動態</b>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <h3>Jhipster中文站</h3>
                        <p>官方<a href="/cn/">JHipster中文站</a>現已推出! <a href="/cn/">JHipster的中文官方網站</a>終於和大家見面了！</p>
                        <p>請在這個專屬的 <a href="https://github.com/jhipster/cn">Github專案</a>審查和提升中文站的質量. 歡迎大家來<a href="https://github.com/jhipster/cn">Github的翻譯專案</a>上添磚加瓦！</p>
                        <h3>大事記</h3>
                        <ul>
                            <li>2021年5月13日：在<a href="https://www.meetup.com/en-AU/GatewayJUG/events/276274744/">St. Louis Java使用者組</a>, <a href="https://twitter.com/mraible" target="_blank" rel="noopener">Matt Raible</a> 將呈現 <b>使用Spring Boot和JHipster的反應式微服務</b>。</li>
                            <li>2021年5月26日：在 <a href="https://www.meetup.com/JUG-Bonn/events/277567355/" target="_blank" rel="noopener">Java 使用者組 Bonn</a>, <a href="https://twitter.com/atomfrede" target="_blank" rel="noopener">Frederik hahne</a> 將呈現 <b>使用JHipster快速開發應用程式</b>。</li>
                        </ul>
                        <h3>動態</h3>
                        <ul>
                            <li><b>JHipster開發人員協會</b> 現在主持 <b>虛擬聚會</b> 在 <a href="https://www.youtube.com/c/JHipsterDevelopersAssociation">YouTube頻道</a>.</li>
                            <li><b>使用JHipster進行全棧開發-第2版</b>由Deepu K Sasidharan和Sendil Kumar出版. 透過 <a href="https://www.packtpub.com/web-development/full-stack-development-with-jhipster-second-edition" target="_blank" rel="noopener">Packt</a> 和 <a href="https://smile.amazon.com/Full-Stack-Development-JHipster-microservices/dp/1838824987" target="_blank" rel="noopener">Amazon</a>獲得，使用折扣程式碼`25JAVASILVER`從Amazon和Packt獲得25％的電子書折扣。 有效期至2020年7月1日</li>
                            <li>Matt Raible撰寫的<b>The JHipster Mini-Book 5.0</b>現已推出！ 從 <a href="https://www.infoq.com/minibooks/jhipster-mini-book-5" target="_blank" rel="noopener">InfoQ</a>免費下載或在 <a href="http://www.lulu.com/shop/matt-raible/the-jhipster-mini-book/paperback/product-23871310.html">Lulu</a>購買印刷版。</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- about section -->
    <section id="about" class="blue padding-t-50 padding-b-25 home-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="heading">JHipster是什麼?</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <span class="title text-center">
                    <div class="head-icons">
                        <a href="http://projects.spring.io/spring-boot/" target="_blank" rel="noopener"><img src="images/logo/svg/spring-boot.svg" class="project-icon img-responsive"></a>
                        <i class="fa fa-4x">+</i>
                        <a href="https://angular.io/" target="_blank" rel="noopener"><img src="images/logo/svg/angular.svg" class="project-icon img-responsive"></a><br class="visible-xs">
                        <i class="fa fa-4x">/</i>
                        <a href="https://reactjs.org/" target="_blank" rel="noopener"><img src="images/logo/svg/react.svg" class="project-icon img-responsive"></a><br class="visible-xs">
                        <i class="fa fa-4x">/</i>
                        <a href="https://vuejs.org/" target="_blank" rel="noopener"><img src="images/logo/svg/vue.svg" class="project-icon img-responsive"></a><br class="visible-xs">
                        <i class="fa fa-4x">=</i>
                        <a href="/"><img id="hipster-head" src="images/logo/jhipster_family_member_0_head.svg" class="project-icon img-responsive"></a>
                    </div>
                    <p class="lead font-weight-normal">
                        JHipster是一個開發平台，可以快速生成、開發和部署現代Web應用程式和微服務架構。我們支援許多前端技術，包括Angular，React和Vue。
                        我們甚至為Ionic和React Native提供了行動應用程式支援！在後端，我們支援Spring Boot（使用Java或Kotlin）、Micronaut、Quarkus、Node.js和.NET。
                        對於部署，我們透過Docker和Kubernetes擁抱雲原生原則。對AWS，Azure，Cloud Foundry，Google Cloud Platform，Heroku和OpenShift的部署支援。
                    </p>
                </span>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h3 class="hipster-font heading">目標</h3>
                    <p>
                        我們的目標是生成一個完整的現代Web應用程式或微服務架構，以統一：
                    </p>
                    <ul>
                        <li>基高效能，強大的伺服器端技術棧，具有出色的測試覆蓋率</li>
                        <li>帶有Angular，React或Vue，整合Bootstrap CSS的時尚、現代、移動優先的UI</li>
                        <li>使用Webpack和Maven或Gradle建立應用程式的強大工作流</li>
                        <li>雲原生原則的彈性微服務架構思想</li>
                        <li>基礎架構即程式碼，因此您可以快速部署到☁️</li>
                    </ul>
                </div>

                <div class="col-md-6">
                    <h3 class="hipster-font heading">範例 &amp; 原始碼</h3>
                    <p>使用最新版本的JHipster生成的範例應用程式：</p>
                    <ul>
                        <li><a href="https://github.com/jhipster/jhipster-sample-app" target="_blank" rel="noopener">Spring Boot + Angular</a>
                            <ul>
                                <li><a href="https://github.com/jhipster/jhipster-sample-app-react" target="_blank" rel="noopener">{... React}</a></li>
                                <li><a href="https://github.com/jhipster/jhipster-sample-app-vuejs" target="_blank" rel="noopener">{... Vue.js}</a></li>
                                <li><a href="https://github.com/jhipster/jhipster-sample-app-kotlin" target="_blank" rel="noopener">{... Kotlin}</a></li>
                            </ul>
                        </li>
                        <li><a href="https://github.com/jhipster/jhipster-sample-app-micronaut" target="_blank" rel="noopener">Micronaut + Angular</a></li>
                        <li><a href="https://github.com/jhipster/jhipster-sample-app-quarkus" target="_blank" rel="noopener">Quarkus + Angular</a></li>
                        <li><a href="https://github.com/jhipster/jhipster-sample-app-nodejs" target="_blank" rel="noopener">Node.js + Angular</a></li>
                        <li><a href="https://github.com/jhipster/jhipster-sample-app-dotnetcore" target="_blank" rel="noopener">.NET + Angular</a></li>
                    </ul>
                    <p>
                        JHipster是開源的，所有開發都已完成
                        <a href="https://github.com/jhipster/generator-jhipster" target="_blank" rel="noopener">on GitHub</a>
                    </p>
                    <ul>
                        <li> 如果您想與我們一起編碼，請隨時加入！</li>
                        <li> 如果您喜歡該專案，請給我們GitHub上加⭐️。</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Stack options Section -->
    <section id="opts" class="blue padding-t-50 padding-b-25 home-section">
        <div class="row no-margin">
            <div class="col-lg-12 text-center">
                <h2 class="heading">前端技術棧</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row stack-container no-margin">
            <ul class="text-center stacks">
                <li class="clip img-circle">
                    <img src="images/logo/svg/html-5.svg" />
                    <span class="title_sub_tech">HTML5</span>
                </li>
                <li class="clip img-circle">
                    <img src="images/logo/svg/css-3.svg" />
                    <span class="title_sub_tech">CSS3</span>
                </li>
                <li class="clip img-circle">
                    <img src="images/logo/svg/bootstrap.svg" />
                    <span class="title_sub_tech">Bootstrap</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/svg/typescript.svg" />
                    <span class="title_sub_tech">TypeScript</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/svg/angular.svg" />
                    <span class="title_sub_tech">Angular</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/svg/react.svg" />
                    <span class="title_sub_tech">React</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/svg/vue.svg" />
                    <span class="title_sub_tech">Vue</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/svg/redux.svg" />
                    <span class="title_sub_tech">Redux</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/icons/websocket.png" class="invert"/>
                    <span class="title_sub_tech">Websockets</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/svg/yarn.svg"/>
                    <span class="title_sub_tech">Yarn</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/svg/webpack.svg"/>
                    <span class="title_sub_tech">Webpack</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/svg/sass.svg" class="height" />
                    <span class="title_sub_tech">Sass</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/svg/browsersync.svg" />
                    <span class="title_sub_tech">Browsersync</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/svg/jest.svg" />
                    <span class="title_sub_tech">Jest</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/svg/cypress.svg" />
                    <span class="title_sub_tech">Cypress</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/icons/protractor.png" />
                    <span class="title_sub_tech">Protractor</span>
                </li>
                <li class="clear"></li>
            </ul>
        </div>
        <div class="row no-margin">
            <div class="col-lg-12 text-center">
                <h2 class="heading">伺服器端技術棧</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row stack-container no-margin">
            <ul class="text-center stacks">
                <li class="clip img-circle">
                    <img src="images/logo/svg/spring-boot.svg" />
                    <span class="title_sub_tech">Spring Boot</span>
                </li>
                <li class="clip img-circle">
                    <img src="images/logo/icons/spring.png"/>
                    <span class="title_sub_tech">Spring Security</span>
                </li>
                <li class="clip img-circle">
                    <img src="images/logo/svg/micronaut.svg" />
                    <span class="title_sub_tech">Micronaut</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/icons/netflix.png"/>
                    <span class="title_sub_tech">Netflix OSS</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/svg/consul.svg"/>
                    <span class="title_sub_tech">Consul</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/icons/gradle.png" class="invert-hover-white"/>
                    <span class="title_sub_tech">Gradle</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/icons/maven.png" class="invert-hover-white width" />
                    <span class="title_sub_tech">Maven</span>
                </li>
                <li class="clip img-circle">
                    <img src="images/logo/svg/hibernate.svg" />
                    <span class="title_sub_tech">Hibernate</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/icons/liquibase.gif" class="width" />
                    <span class="title_sub_tech">Liquibase</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/svg/mysql.svg" />
                    <span class="title_sub_tech">MySQL</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/svg/mariadb.svg" />
                    <span class="title_sub_tech">MariaDB</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/svg/postgresql.svg" class="height" />
                    <span class="title_sub_tech">PostgreSQL</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/svg/oracle.svg" class="width" />
                    <span class="title_sub_tech">Oracle</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/icons/mssql.png"/>
                    <span class="title_sub_tech">MS SQL</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/icons/mongo.png" />
                    <span class="title_sub_tech">MongoDB</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/icons/mongock.png" />
                    <span class="title_sub_tech">Mongock</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/svg//cassandra.svg" class="invert-hover-white" />
                    <span class="title_sub_tech">Cassandra</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/svg//couchbase.svg"/>
                    <span class="title_sub_tech">Couchbase</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/svg/neo4j-icon.svg"/>
                    <span class="title_sub_tech">Neo4j</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/icons/ehcache.png" />
                    <span class="title_sub_tech">EhCache</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/icons/caffeine.png" />
                    <span class="title_sub_tech">Caffeine</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/icons/Hazelcast.png" class="invert-hover-white"/>
                    <span class="title_sub_tech">Hazelcast</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/icons/infinispan.png" />
                    <span class="title_sub_tech">Infinispan</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/icons/memcached.png" />
                    <span class="title_sub_tech">Memcached</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/icons/redis.png" />
                    <span class="title_sub_tech">Redis</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/svg/elasticsearch.svg"/>
                    <span class="title_sub_tech">Elasticsearch</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/svg/kafka.svg" class="invert-hover-white"/>
                    <span class="title_sub_tech">Kafka</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/icons/swagger.png"/>
                    <span class="title_sub_tech">Swagger</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/icons/elastic-stack.png" class="invert-hover-white"/>
                    <span class="title_sub_tech">Elastic Stack</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/svg/prometheus.svg"/>
                    <span class="title_sub_tech">Prometheus</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/icons/thymeleaf.png"/>
                    <span class="title_sub_tech">Thymeleaf</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/icons/gatling.png"/>
                    <span class="title_sub_tech">Gatling</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/svg/cucumber.svg"/>
                    <span class="title_sub_tech">Cucumber</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/svg/archunit.svg"/>
                    <span class="title_sub_tech">ArchUnit</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/svg/testcontainers.svg"/>
                    <span class="title_sub_tech">Testcontainers</span>
                </li>
                <li class="clear"></li>
            </ul>
        </div>
        <div class="row no-margin">
            <div class="col-lg-12 text-center">
                <h2 class="heading">部署技術棧</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row stack-container no-margin">
            <ul class="text-center stacks">
                <li class="clip img-circle new">
                    <img src="images/logo/svg/docker.svg"/>
                    <span class="title_sub_tech">Docker</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/svg/kubernets.svg"/>
                    <span class="title_sub_tech">Kubernetes</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/svg/heroku.svg"/>
                    <span class="title_sub_tech">Heroku</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/icons/cf.png" class="invert-hover-white"/>
                    <span class="title_sub_tech">CloudFoundry</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/svg/aws.svg" class="width"/>
                    <span class="title_sub_tech">AWS</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/svg/boxfuse.svg"/>
                    <span class="title_sub_tech">Boxfuse</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/gcp.png"/>
                    <span class="title_sub_tech">Google Cloud<br/> Platform</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/svg/openshift.svg"/>
                    <span class="title_sub_tech">OpenShift</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/azure-spring-cloud-large.png"/>
                    <span class="title_sub_tech">Azure Spring Cloud</span>
                </li>
                <li class="clear"></li>
            </ul>
        </div>
        <div class="row no-margin">
            <div class="col-lg-12 text-center">
                <h2 class="heading">CI/CD技術棧</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row stack-container no-margin">
            <ul class="text-center stacks">
                <li class="clip img-circle new">
                    <img src="images/logo/svg/jenkins.svg"/>
                    <span class="title_sub_tech">Jenkins</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/svg/travis.svg"/>
                    <span class="title_sub_tech">Travis CI</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/svg/gitlab.svg"/>
                    <span class="title_sub_tech">GitLab CI</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/svg/circleci.svg"/>
                    <span class="title_sub_tech">CircleCI</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/azure-pipelines.png"/>
                    <span class="title_sub_tech">Azure Pipelines</span>
                </li>
                <li class="clip img-circle new">
                    <img src="images/logo/svg/github-actions.svg"/>
                    <span class="title_sub_tech">Github Workflows</span>
                </li>
                <li class="clear"></li>
            </ul>
        </div>
    </section>

    <!-- Who uses Section -->
    <section id="companies" class="padding-t-50 padding-b-25 home-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="heading">誰在使用JHipster?</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" ng-controller="UsersCtrl">
                    <div>
                        <p>
                            全世界許多大公司都在使用Jhipster! <a href="{{ site.url }}/companies-using-jhipster/">點選此處檢視完整的清單</a>, 如果你的公司也使用了Jhipster, 不要忘記在這裡也新增您的公司<i class="fa fa-smile-o"></i>
                        </p>
                    </div>
                    <div id="carousel-customers" class="carousel slide" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">

                            <div class="item container {($index == 0 ? 'active': '')}" ng-if="$index % 6 == 0"
                                ng-repeat="user in users | filter:{logo:'!!'} | orderBy:'name' as filteredUsers">
                                <img class="col-md-2 col-sm-2 col-xs-2 logo- img-responsive"
                                    ng-src="{{ site.url }}/companies-using-jhipster/images/{(filteredUsers[$index].logo)}" alt="{(filteredUsers[$index].name)}" title="{(filteredUsers[$index].name)}">
                                <img class="col-md-2 col-sm-2 col-xs-2 logo- img-responsive" ng-if="filteredUsers.length > ($index + 1)"
                                    ng-src="{{ site.url }}/companies-using-jhipster/images/{(filteredUsers[$index + 1].logo)}" alt="{(filteredUsers[$index + 1].name)}" title="{(filteredUsers[$index + 1].name)}">
                                <img class="col-md-2 col-sm-2 col-xs-2 logo- img-responsive" ng-if="filteredUsers.length > ($index + 2)"
                                    ng-src="{{ site.url }}/companies-using-jhipster/images/{(filteredUsers[$index + 2].logo)}" alt="{(filteredUsers[$index + 2].name)}" title="{(filteredUsers[$index + 2].name)}">
                                <img class="col-md-2 col-sm-2 col-xs-2 logo- img-responsive" ng-if="filteredUsers.length > ($index + 3)"
                                    ng-src="{{ site.url }}/companies-using-jhipster/images/{(filteredUsers[$index + 3].logo)}" alt="{(filteredUsers[$index + 3].name)}" title="{(filteredUsers[$index + 3].name)}">
                                <img class="col-md-2 col-sm-2 col-xs-2 logo- img-responsive" ng-if="filteredUsers.length > ($index + 4)"
                                    ng-src="{{ site.url }}/companies-using-jhipster/images/{(filteredUsers[$index + 4].logo)}" alt="{(filteredUsers[$index + 4].name)}" title="{(filteredUsers[$index + 4].name)}">
                                <img class="col-md-2 col-sm-2 col-xs-2 logo- img-responsive" ng-if="filteredUsers.length > ($index + 5)"
                                    ng-src="{{ site.url }}/companies-using-jhipster/images/{(filteredUsers[$index + 5].logo)}" alt="{(filteredUsers[$index + 5].name)}" title="{(filteredUsers[$index + 5].name)}">
                            </div>

                        </div>

                        <div align="center" style="margin-top:20px;">
                            <!-- Controls -->
                            <a class="left" href="#carousel-customers" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right" href="#carousel-customers" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="modules" class="blue padding-t-50 padding-b-25 home-section" ng-controller="ModuleListCtrl">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="heading">模組和藍圖</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <input type="text" ng-model="searchText" class="form-control search-text" placeholder="搜尋" id="name" required data-validation-required-message="Please enter a module to search">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <p>熱門模組和藍圖</p>
                <br>
            </div>
            <div class="row">
                <div ng-cloak ng-repeat="module in modules | filter: searchText | orderBy: '-score.detail.popularity' | limitTo:16">
                    <div class="clearfix" ng-if="$index % 4 == 0"></div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <a ng-href="{{ site.url }}/modules/marketplace/#/details/{(module.package.name)}"
                            title="{(module.package.description)}">
                            <div class="card dark module summary-inline">
                                <div class="card-body">
                                    <i class="icon fa fa-cube fa-3x"></i>
                                    <div class="content">
                                        <div class="title fontSmall">{(module.package.name | jhiModuleFilter)}</div>
                                        <div class="sub-title"><span class="fa fa-user"></span> &nbsp; {(module.package.author.name)} &nbsp; | &nbsp; <span class="fa fa-download"></span> &nbsp; {(module.downloads)}</div>
                                    </div>
                                    <div class="clear-both"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script>
    function ocCallback(data, divId, txAmount) {
        const activeBackers = data.filter(it => it.isActive && it.lastTransactionAmount === txAmount);

        if (activeBackers.length > 0) {
            document.getElementById(divId).style.display = "block";
            const cols = activeBackers.map(it => `
        <div class="col-sm-6 col-md-2">
            <div class="thumbnail no-margin-bottom">
                <div class="logo-container">
                    <div class="logo-container">
                        <a href="${it.website || it.profile}" target="_blank" rel="noopener" style="padding: 0px"><img src="${it.image || `{{ site.url }}/images/open-collective/${it.name.toLowerCase()}.png`}" class="sponsor-img"></a>
                    </div>
                    <div class="caption">
                        <a href="${it.website || it.profile}" target="_blank" rel="noopener">${it.name}</a>
                    </div>
                </div>
            </div>
        </div>`)
            const div = document.getElementById(`oc-${divId}`);
            div.innerHTML = cols.join('');
        }
    }

    function ocBronzeJsonpCallback(data){
        ocCallback(data, "bronze-sponsor", 100)
    }

    function ocSilverJsonpCallback(data){
        ocCallback(data, "silver-sponsor", 500)
    }
</script>
<script type="application/javascript" src="https://json2jsonp.com/?url=https://opencollective.com/generator-jhipster/tiers/bronze-sponsor/all.json?v=2&callback=ocBronzeJsonpCallback"></script>
<script type="application/javascript" src="https://json2jsonp.com/?url=https://opencollective.com/generator-jhipster/tiers/silver-sponsor/all.json&callback=ocSilverJsonpCallback"></script>
<script>
    familyIDFromQueryParam = (new URLSearchParams(window.location.search)).get('family')
    // simple random select of hipster family member if not specified in the `family` query param
    var familyMemberID = familyIDFromQueryParam || Math.floor(Math.random() * (8 - 0 + 1)) + 0;
    var familyMemberHeadID = Math.floor(Math.random() * (3 - 0 + 1)) + 0;
    document.getElementById("hipster").src = "images/logo/jhipster_family_member_" + familyMemberID + ".svg";
    document.getElementById("hipster-head").src = "images/logo/jhipster_family_member_" + familyMemberHeadID + "_head.svg";
</script>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "url": "https://www.jhipster.tech",
  "logo": "https://www.jhipster.tech/images/logo-jhipster.png",
  "name" : "JHipster",
  "sameAs" : [ "https://twitter.com/jhipster",
    "https://github.com/jhipster/generator-jhipster"]
}
</script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
<script type="text/javascript">
    docsearch({
        apiKey: '9bd47d3de4af6f3662fd11a7f0e38819',
        indexName: 'jhipster',
        inputSelector: '.mobile-doc-search-algolia',
        debug: false // Set debug to true if you want to inspect the dropdown
    });
</script>
